*.a
*.la
*.bz2
*.gz
*.sig
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.guess
config.sub
config.log
config.status
configure
depcomp
install-sh
stamp-h1
libtool
ltmain.sh
missing
releasenotes.txt
rpm
rpm.release
