/application-pdf.filter
/application-postscript.filter
/courierfax
/courierfax.8
/courierfax.8.in
/courierfax.html
/courierfax.html.in
/coverpage
/faxcoverpage.tr.dist
/faxnotifyrc.dist
/faxrc.dist
/faxtmpdir.h
/filterbindir.h
/image-gif.filter
/image-jpeg.filter
/image-png.filter
/init
/module.fax
/new_fax
/sendfax.h
/text-plain.filter
