##VERSION: $Id:$
#
# faxcoverpage.tr created from faxcoverpage.tr.dist by sysconftool
#
# Do not alter lines that begin with ##, they are used when upgrading
# this configuration.
#
# Copyright 2002 Double Precision, Inc.  See COPYING for
# distribution information.
#

##NAME: template:1
#
# This file contains the troff source for a fax cover page.  Courier will
# substitute each fax message's particulars in the obvious places.
#
# If you do not know troff, stay away from this file.

.PH ''''
.PF ::\f(CB\s8\N'104'\N'116'\N'116'\N'112'\N'58'\N'47'\N'47'\N'119'\N'119'\N'119'\N'46'\N'99'\N'111'\N'117'\N'114'\N'105'\N'101'\N'114'\N'45'\N'109'\N'116'\N'97'\N'46'\N'111'\N'114'\N'103'\s0\fP::
\&
.SP 4
.in -1.5i
.ll 7i
.TS
expand;
cfI s
lfB lw(6i).
\s+6FACSIMILE COVER PAGE\s0

\s+4From:\s0	%FROM%
\s+4To:\s0	T{
%TO%
T}
\s+4Subject:\s0	%SUBJECT%
\s+4Date:\s0	%DATE%
\s+4Pages:\s0	%PAGES% (+ cover)
=
.TE

