This message looks like an administrative request.  The address
<####> is NOT
for administrative requests.  This is the posting address for
the mailing list itself.  For additional help, write to
<##help##>.  To reach
the mailing list administrator, write to
<##owner##>.
