# Copyright 1998 - 1999 Double Precision, Inc.  See COPYING for
# distribution information.
#
# Mail alias definition.
#
# Courier does not deliver to root, therefore forward root mail to postmaster

root: postmaster

# Also send mailer-daemon's mail to postmaster

mailer-daemon: postmaster

MAILER-DAEMON: postmaster

uucp: postmaster

# You must specify a non-privileged account to receive postmaster mail.
# The postmaster CANNOT be root.  Until you specify a valid postmaster
# alias below, all postmaster mail will be bitbucketed.

postmaster:

# Additional aliases may be defined here, or create other files in
# local/config/aliases directory.
#
# After making any changes, run the makealiases script to compile the
# alias database.

