Content-Type: text/plain; charset=iso-8859-1
Content-Transfer-Encoding: 8bit

Hello, this is the Courier mailing list manager.  I manage the mailing
list <####>.

I received your request to return one or more messages from the archive
of this mailing list.  A copy of your request follows, followed by the
archived messages.

If you did not receive all the messages you've asked for, the messages
you've asked for probably do not exist.  In order to prevent abuse,
the entire digest is limited.  For more information, write to
<##help##>.

