Subject: Courier mailing list help.
Mime-Version: 1.0
Content-Type: text/plain; charset=iso-8859-1
Content-Transfer-Encoding: 8bit

Hello, this is the Courier mailing list manager's automatic response from
<URL:##help##>

The original message that I'm responding to is attached at the end of this
automatic response.

These are the generic instructions for using this mailing list manager.

SUBSCRIBING

To subscribe to this mailing list, send an empty message to
<URL:##subscribe##>.

You will receive a confirmation request.  You will have to reply to
the confirmation request and put the word "yes" in the subject line in
order to subscribe.  IMPORTANT: your subscription request will not go
through until you reply.  This is done to verify the authenticity of
your request.

UNSUBSCRIBING

To subscribe to this mailing list, send an empty message to
<URL:##unsubscribe##>.

You will receive a confirmation request.  You will have to reply to
the confirmation request and put the word "yes" in the subject line in
order to subscribe.  IMPORTANT: your unsubscription request will not go
through until you reply.  This is done to verify the authenticity of
your request.

LIMITS ON SUBSCRIBING AND UNSUBSCRIBING

To prevent abuse, if you send a duplicate subscription or unsubscription
request within 30 minutes, it will not be acknowledged.

RESTRICTIONS ON SUBSCRIBING TO THIS MAILING LIST

This may or may not be a restricted mailing list.  Obviously, the mailing
list administrator is not very attentive.  Attentive mailing list
administrators will remove this paragraph, and will remove this entire
section if this is not a restricted mailing list.  (This a generic
help list template that's installed by default in every mailing list
managed by the Courier mailing list manager).

All subscription requests will be forwarded to the mailing list
administrator for review.  The mailing list administrator may approve
or disapprove your subscription request.  If you do not receive a
subscription confirmation right away, it means that it's been forwarded
to the mailing list administrator.  Once the mailing list administrator
approves your subscription request, you will receive the confirmation
request.  You will have to reply to the confirmation request and put the
word "yes" in the subject line in order to subscribe.

MODERATION

This may or may not be a moderated mailing list.  Obviously, the mailing
list administrator is not very attentive.  Attentive mailing list
administrators will remove this paragraph, and will remove this entire
section if this is not a moderated mailing list.  (This a generic
help list template that's installed by default in every mailing list
managed by the Courier mailing list manager).

This is a moderated mailing list.  All messages to this mailing list
are automatically forwarded to the mailing list administrator for
approval.  Once the message is approved by the administrator, it will
be distributed to the mailing list.

DIGESTS

Digest of this mailing list may or may not be available.  Obviously, the
mailing list administrator is not very attentive.  Attentive mailing list
administrators will remove this paragraph, and will remove this entire
section if digests are not available.  (This a generic
help list template that's installed by default in every mailing list
managed by the Courier mailing list manager).

This mailing list is available in digest form.  Instead of receiving
individual messages posted to this mailing list, you may choose to
receive all messages at once, in a digest form, once or twice a day
(or at other regular intervals set by the mailing list administrator).

You will have to subscribe to the digest version of this mailing list
separately.  To subscribe to this mailing list in a digest form, send
a message to <URL:##digest-subscribe##>.

To unsubscribe from the digest version of this mailing list, send a
message to <URL:##digest-unsubscribe##>.

Except for the actual subscription/unsubscription address.  The
subscription and unsubscription process is the same as for the non-digest
version of this mailing list.  See the subscription and unsubscription
instructions above for more information.

WRITE-ONLY ADDRESSES

If you read your mail under a different address that you want to use for
sending messages to this mailing list, you can register a "write-only"
E-mail alias.  Write-only addresses can send messages to the mailing list,
but they do not receive any mailing list messages themselves.

The procedure to set up a write-only is very similar to the subscription
process.  You must already be a subscriber to this mailing list.  Once you
are subscribed, put your write-only alias in the subject line of a message,
and mail it to <URL:##alias-subscribe##>.

The subject line of your message must contain only the write-only alias,
and nothing else.  You will receive a confirmation request, just like when
subscribing to the list.  Acknowledge the confirmation request in the same
way.

You can change your write-only alias any time by repeating this procedure.
To prevent abuse, you are limited to sending at most one message every 30
minutes to <URL:##alias-subscribe##>.

To remove an existing write-only alias, leave the subject of the E-mail
message blank.

ACCESSING ARCHIVED MESSAGES

Messages to this mailing list are archived.  Send an empty message to
<URL:##index##> to return
a partial index of the archive.  Additional instructions will follow in
the response.

To retrieve a message by a message number, send an empty message to
<URL:##fetch-N##>, where N
is the message number to retrieve.  Multiple messages can be retrieved by
separating message numbers with a plus sign.  For example, to retrieve
messages 10, and 13, send a blank message to
<URL:##fetch-10+13##>.

Use a dash to retrieve consecutive messages from the archive.  For
example, <URL:##fetch-10-15##>
returns messages 10 through 15, inclusive.

In order to prevent abuse, there's an upper limit of 100Kb on the
size of the returned digest.  This is a default limit that may be
adjusted by the mailing list owner.
