Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: 8bit

Hello, this is the Courier mailing list manager.  I manage the mailing
list <####>.

I received a request to return the index of archived messages in this
mailing list.  The original request is appended at the end.

By default, I return the index of the most recent messages received by
this mailing list.  An index of older messages can be obtained by sending
a message to <##index-N##>,
replacing N with the number of the last message to be included in the
index.

Any archived message can be retrieved by sending a blank message to
<##fetch-N##>, replacing
N with the number of the message to be retrieved.

The first archived message is message @F@.
The last archived message is message @L@.

 Msg#/Date    Subject/Sender
---------- ------------------------------------------------------------------
