Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: 8bit

<html>
<body>
<p>
Hello, this is the Courier mailing list manager.  I manage the mailing
list &lt;<a href="####">####</a>&gt;.

<p>
I received a request to return the index of archived messages in this
mailing list.  The original request is appended at the end.

<p>
By default, I return the index of the most recent messages received by
this mailing list.  An index of older messages can be obtained by sending
a message to
&lt;<a href="##index-N##">##index-N##</a>&gt;, replacing
N with the number of the last message to be included in the index.

<p>
Any archived message can be retrieved by sending a blank message to
&lt;<a href="##fetch-N##">##fetch-N##</a>&gt;, replacing
N with the number of the message to be retrieved.

<p>
The first archived message is message @F@.
<p>
The last archived message is message @L@.

<table border=0 cellpadding=4>
<tr><th align=left>Msg #</th><th align=left>Subject/Sender</th></tr>
<tr><td><hr></td><td><hr></td></tr>
