Content-Type: text/plain; charset=iso-8859-1
Content-Transfer-Encoding: 8bit

==CUT HERE==
Insert any rejection notice here.
==CUT HERE==

The following message has been previously send to you for moderation,
but no response has been received.  You will receive periodic reminders
to moderate this message until you do the following.  To approve this
message and post it to the mailing list, reply to this message.  To
reject this message, reply to this message and prepend the word "no" to
the subject line of the reply.  To reject this message and return it
to the sender, reply to this message and prepend the word "reject"
to the subject line.

If you would like, you can enter text to be included in the rejection notice.
You must enter the text above, between the ==CUT HERE== lines.

Do NOT delete the ==CUT HERE== lines, they must be present.  Also, please
make sure that your mail client formats your reply as plain text, and not
"rich text", or HTML.

In all cases, make sure that the following codes are included in the
reply message:

