# Copyright 1998 - 2011 Double Precision, Inc.  See COPYING for
# distribution information.
#
# Default access policies for courieresmtpd
#
# By default, enable relaying for localhost.

127.0.0.1	allow,RELAYCLIENT
:0000:0000:0000:0000:0000:0000:0000:0001	allow,RELAYCLIENT

# Also, enable relaying for 10.0.0.0/8 and 192.168.0.0/16

10	allow,RELAYCLIENT
192.168	allow,RELAYCLIENT

# Use the following entry to deny connections from bad IP addresses
#
# 192.168.5	deny

# Another way to block mail from IP addresses is by initializing the
# BLOCK variable to a non-empty value.  This is enforced in submit.
#
# 192.168.5	allow,BLOCK="550 Shoo! Go away!"

# If 192.168.2.3 is listed in a blocklist that initializes the BLOCK
# environment variable, and you wish to whitelist the IP address, just
# set BLOCK to an empty value, like this:
#
# 192.168.2.3	allow,BLOCK
