/* style sheet */

body { font-family: Arial, Helvetica, "Sans Serif";
	background-color: #ffffff;
	color: #000000;
	}

a:link, a:visited { color: #000080 }
a:active { color: #ff0000 }

.error { color: #ff0000 }

.configtbl { width: 100%; border-collapse: collapse;
	border-width: thin; border-style: solid;
	border-color: #000000 }

.configtbl tbody tr td { padding-top: .1em; padding-bottom: .1em }

.oddrow { background-color: #eeeeee }
.evenrow { background-color: #cccccc }

.email { font-family: "Courier New", monospace }
