Content-Type: multipart/alternative; boundary="xxxx"

--xxxx
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: 8bit

==========================================================================

                                   STOP!

==========================================================================

You MUST read the following instructions in its entirety, before replying
to this message!

Hello, this is the Courier mailing list manager.  I manage the mailing
list <##-##>.

I received the following subscription request.  In order to make sure that
this request really came from you, you must confirm your subscription
request as follows.

* Reply to this confirmation request.

* Before sending the reply, go to the subject of your reply message and add
  the word "yes" to the beginning of the subject.  You MUST add the word "yes"
  to the subject of your reply message in order for the confirmation request
  to go through.

[webmlm.tmpl]
Copy of the original subscription request is attached to this message.

--xxxx
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: 8bit

<html>
<body>
<h1>STOP!</h1>

<p>You <em>MUST</em> read the following instructions in its entirety,
before replying to this message!</p>

<p>Hello, this is the Courier mailing list manager.  I manage the mailing
list <tt>&lt;##-##&gt;</tt>.

<p>I received the following subscription request.  In order to make sure that
this request really came from you, you must confirm your subscription
request as follows.</p>

<ul>
<li>Reply to this confirmation request.</li>

<li>Before sending the reply, go to the subject of your reply message and add
the word "yes" to the beginning of the subject.  You <em>MUST</em> add the
word "yes"
to the subject of your reply message in order for the confirmation request
to go through.</li>
</ul>

[webmlm.tmpl.html]
<p>Copy of the original subscription request is attached to this message.</p>
</body>
</html>

--xxxx--
