Mime-Version: 1.0
Content-Type: text/plain; charset=iso-8859-1
Content-Transfer-Encoding: 8bit

Hello, this is the Courier mailing list manager.  I manage the mailing
list <####>.

I received the following subscription request.  To approve this
subscription request, just reply to this message.  To reject this
subscription request, reply to this message and add the word "no" to the
start of the subject line.

Copy of the original subscription request received:

