Subject: Subscription rejection.
Mime-Version: 1.0
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: 8bit

Hello, this is the Courier mailing list manager.  I manage the mailing
list <####>.

I received the following subscription request, but it has been rejected
by the moderator.  This is a moderated mailing list, and all subscription
requests are subject to moderator's approval.

Copy of the original subscription request received:

