Subject: Mailing list subscriber report.
Mime-Version: 1.0
Content-Type: text/plain; charset=iso-8859-1
Content-Transfer-Encoding: 8bit

Hello, this is the Courier mailing list manager.  I manage the mailing
list <####>.

This is your report of new/removed subscribers for this mailing list.
