Content-Type: text/plain; charset=iso-8859-1
Content-Transfer-Encoding: 8bit

Hello, this is the Courier mailing list manager.  I manage the mailing
list <####>.

There have been problems delivering messages to you from this mailing
list.  Your address is not listed in the To: header of this warning
message because all mailing list messages are blind-carbon-copied.
Sometimes this can cause delivery failures because of broken mail
filters, and I want to make sure that this warning message also gets
returned as undeliverable, if this is the case here.

If this warning message is returned as undeliverable, I will then
automatically send you one more probe message.  If that message is
also returned as undeliverable, your address will be automatically
removed from the mailing list.

A list of all the undeliverable messages appears below.  You may
request any message to be retransmitted by sending a blank message
to <##fetch-N##>.

Replace N with the message number to retransmit.

Message numbers that were returned as undeliverable:

