/addcr
/courieresmtp
/courieresmtpd
/esmtp.authpam
/esmtpd
/esmtpd-msa.dist
/esmtpd-ssl
/esmtpd-ssl.dist
/esmtpd.cnf
/esmtpd.dist
/libexecdir.h
/localstatedir.h
/makeacceptmailfor
/makepercentrelay
/makesmtpaccess
/mkesmtpdcert
/module.esmtp
/staticlist.c
