#!/usr/bin/make -f

export CXX=%CXXCOMPILER%
export CC=%CCOMPILER%
export SOVERSION=%SOVERSION%

%:
	dh $@

override_dh_auto_install:
	dh_auto_install --
	CONFIG_FILES=debian/auto_install.sh ./config.status
	chmod +x debian/auto_install.sh
	rm -f debian/libcourier-sox$(SOVERSION)/lintian-overrides
	ln -s libcourier-sox.soname.lintian-overrides debian/libcourier-sox$(SOVERSION).lintian-overrides
	debian/auto_install.sh

override_dh_installsystemd:
	dh_installsystemd --package libcourier-sox-server --name courier-sox

override_dh_builddeb:
	dh_builddeb -- $(DEB_BUILDDEB_OPTIONS)
