/INSTALL.html
/NEWS
/config.cache
/courier-imap.lpspec
/courier-imap.spec
/couriertcpd
/couriertcpd.1
/dbobj.config
/dbobj.h
/deliverquota
/deliverquota.8
/imapd
/imapd-ssl.dist
/imapd-ssl.rc
/imapd.8
/imapd.cnf
/imapd.dist
/imapd.rc
/imaplogin
/libs
/maildiracl
/maildiracl.1
/maildirkw
/maildirkw.1
/maildirmake
/maildirmake.1
/makedatprog
/mkimapdcert
/mkimapdcert.8
/mkpop3dcert
/mkpop3dcert.8
/pop3d
/pop3d-ssl.dist
/pop3d-ssl.rc
/pop3d.cnf
/pop3d.dist
/pop3d.rc
/pop3login
/quotawarnmsg.example
/sharedindexinstall
/sharedindexsplit
/sysconftool
