/NEWS
/README
/dbobj.config
/dbobj.h
/deliverquota
/deliverquota.8
/libs
/maildirmake
/maildirmake.1
/makemime
/pcpd
/reformime
/sharedindexinstall
/sharedindexsplit
/sqwebmail.lpspec
/sqwebmail.spec
/sqwebmaild.rc
/sysconftool
