/INSTALL
/INSTALL.txt
/NEWS
/README
/config.rpath
/dbobj.config
/dbobj.h
/deliverquota
/deliverquota.8
/libs
/maildirmake
/maildirmake.1
/makemime
/pcpd
/reformime
/sharedindexinstall
/sharedindexsplit
/sqwebmail.spec
/sqwebmaild.rc
/sysconftool
