Source: sqwebmail
Section: contrib/admin
Priority: optional
Maintainer: Sam Varshavchik <mrsam@courier-mta.com>
Build-Depends:
	perl:any,
	pkgconf,
	debhelper-compat (= 12),
	gcc%DEBGCC%,
	g++%DEBGCC%,
	autoconf-archive,
	gpg ( >= 2),
	hunspell,
	libhunspell-dev,
	libgdbm-dev,
	libldap2-dev,
	libpcre2-dev,
	%MIME_SUPPORT%,
	libcourier-auth-dev,
	libcourier-unicode-dev,
	gnutls-dev,
	gnutls-bin,
	sysconftool,
	libidn2-dev
Standards-Version: 4.4.1
Homepage: https://www.courier-mta.org/sqwebmail/

Package: sqwebmail
Architecture: any
Conflicts: courier-webmail
Depends: ${shlibs:Depends},
	 hunspell,
	 ${misc:Depends}
Pre-Depends: libcourier-auth-config-%MAILUSER%-%MAILGROUP%
Recommends: sqwebmail-apache2 (= ${binary:Version})
Description: Maildir Webmail CGI client
 SqWebmail CGI for Maildir mailboxes.

Package: sqwebmail-apache2
Architecture: any
Depends: sqwebmail (= ${binary:Version}),
	 apache2,
	 systemd,
         ${shlibs:Depends},
	 ${misc:Depends}
Description: Configure and enable apache for sqwebmail
 This package installs an apache2 configuration that enables the
 sqwebmail webmail server.

Package: sqwebmail-ldap
Architecture: any
Depends: sqwebmail (= ${binary:Version}),
	 ${shlibs:Depends},
	 ${misc:Depends}
Description: LDAP module for SqWebmail
 This package installes the SqWebMail LDAP address book lookup module.
