/libs
/INSTALL
/NEWS
/config.cache
/config.guess
/config.sub
/configure.args
/courier.config.cache
/courier.service
/courier.spec
/courier.sysvinit
/dbobj.config
/dbobj.h
/sysconftool
/version
permissions.dat
