/libs
/install-sh
/missing
/sysconftool
/sysconftool.1
/sysconftool.1.in
/sysconftool.1.html
/sysconftool.1.html.in
/sysconftool.1.stamp
/sysconftool.7
/sysconftool.7.in
/sysconftool.7.html
/sysconftool.7.html.in
/sysconftool.m4
/sysconftool.spec
/sysconftoolcheck
/sysconftoolcheck.1
/sysconftoolcheck.1.in
/sysconftoolcheck.1.html
/sysconftoolcheck.1.html.in
/sysconftoolize.pl
/sysconftoolize.1
